<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Log In - Accounting</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/with_bootstrap.css">
    </head>

    <body>
        <div class="container">
            <h1>Login</h1>

            <p>To continue, please log in.</p>

            {{if .err}}
            <div class="alert alert-danger">
                {{.err}}
            </div>
            {{end}}

            <form method="POST">
                <label for="email">E-Mail:</label>
                <input type="email" name="email" class="form-control" />
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" />

                <br><br>

                <input type="submit" class="btn btn-success" />
            </form>
        </div>
    </body>
</html>