.deleteEntry {
    color: #e84118;
    cursor: pointer;
}

.labelBuffer {
    height: 29px;
}

.category_card {
    padding: 2px;
    border: 1px solid gray;
    border-radius: 2px;
    text-align: center;
}

.scrollable {
    overflow-y: auto;
    position: relative;
    height: calc(100vh - 70px);
}
