.dashboard {
    height: 100%;
    padding: 5px;
    margin: 0px;
    background-color: #ecf0f1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
}

.tile {
    background-color: white;
    border: 1px solid #dfe4ea;
    border-bottom: 3px solid #ced6e0;
    height: auto;
    margin: 3px;
}

.tile > h2 {
    background-color: #2ed573;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    border-bottom: 2px solid #ced6e0;
    width: 100%;
}

.tile > h2::before {
    content: "\00a0 \00a0 ";
}

.tile > .content {
    margin: 10px;
}

/* Tile with full width */
.tile-full-width {
    min-width: 100%
}

.widget_table {
    border-spacing: 0px;
}

.widget_table > thead > tr {
    background-color: #0097e6;
    color: white;
}

.widget_table * .deleteEntry {
    color: #e84118;
    cursor: pointer;
}

.widget_table * th, td {
    padding: 15px;
    text-align: left;
    margin: 0px;
}

.widget_table * tr {
    background-color: #f5f6fa;
}

.widget_table * tr:nth-child(even) {
    background-color: #dcdde1;
}