body {
    margin: 0px;
    font-family: "Quicksand", Arial, Courier, monospace;
}

.container {
    padding-left: 50px;
    padding-right: 50px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgba(7, 153, 146,0.6);
}

nav > a {
    color: black;
    flex: auto 1 1;
    text-align: center;
    margin: 10px 0px;
}

nav > .placeholder {
    flex: auto 16 1;
}

.account-list {
    display: flex;
}

.account-list > .tile {
    background-color: #60a3bc;
    border-left: 10px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-color: #82ccdd;
    border-style: solid;
    min-width: 300px;
    padding: 5px;
    color: #ecf0f1;
}

.account-list > .tile > .name {
    font-size: 26px;
}

.account-list > .tile > .iban {
    color: #95afc0;
    font-style: italic;
    font-size: 12px;
}

.account-list > .tile > .balance {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}