[Unit]
Description=Accounting Application

[Service]
Type=simple
ExecStart=/usr/bin/accounting -c /etc/accounting.conf
User=accounting

[Install]
WantedBy=multi-user.target
